<app-top-bar></app-top-bar>
<div class="all">
<div class="landing-container">
    <div class="header-container">
        <h2>Available Travels</h2>
        <mat-form-field appearance="fill" class="filter-dropdown">
            <mat-label>Sort By</mat-label>
            <mat-select (selectionChange)="onSortChange($event.value)">
                <mat-option value="">No Filter</mat-option>
                <mat-option value="newest">Newest</mat-option>
                <mat-option value="oldest">Oldest</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="sortedTravels.length > 0; else noTravels">
        <ul>
            <li *ngFor="let travel of sortedTravels">
                <div *ngIf="travel.freeSpaces>0"class="travel-item">
                <div class="travel-details">
                    <strong>{{ travel.startLocation }} to {{ travel.endLocation }}</strong><br>
                    Date: {{ formatDate(travel.startTime) }}<br>
                    Seats Available: {{ travel.freeSpaces }}<br>
                    Description: {{ travel.description }}
                </div>
                    <button
                            *ngIf="!hasSubmittedOffer(travel.id) "
                            mat-raised-button
                            color="primary"
                            (click)="openDialog(travel.id!)">
                        Choose
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <ng-template #noTravels>
        <p>No travels available.</p>
    </ng-template>
</div>
</div>