<app-top-bar></app-top-bar>
<div class="landing-container">
    <form [formGroup]="townForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>From:</mat-label>
            <input type="text"
                   matInput
                   formControlName="from"
                   required
                   [matAutocomplete]="autoFrom">
            <mat-autocomplete #autoFrom="matAutocomplete">
                <ng-container *ngFor="let group of townGroupOptionsFrom | async">
                    <mat-optgroup [label]="group.letter">
                        <mat-option *ngFor="let town of group.towns" [value]="town">{{ town }}</mat-option>
                    </mat-optgroup>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>To:</mat-label>
            <input type="text"
                   matInput
                   formControlName="destination"
                   required
                   [matAutocomplete]="autoTo">
            <mat-autocomplete #autoTo="matAutocomplete">
                <ng-container *ngFor="let group of townGroupOptionsTo | async">
                    <mat-optgroup [label]="group.letter">
                        <mat-option *ngFor="let town of group.towns" [value]="town">{{ town }}</mat-option>
                    </mat-optgroup>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>

        <div class="form-group">
            <label for="departureDate">Departure date:</label>
            <input type="date" class="form-control" id="departureDate" name="departureDate" formControlName="departureDate" required>
        </div>
        <div class="form-group">
            <label for="numberOfPeople">Number of people:</label>
            <input type="number" class="form-control" id="numberOfPeople" name="numberOfPeople" min="1" formControlName="numberOfPeople" required>
        </div>
        <button type="submit">Search</button>
    </form>
</div>
