<!-- top-bar.c"omponent.html -->
<mat-toolbar class="custom-toolbar">
    <img src="assets/logo.jfif" alt="Logo">
    <span class="example-fill-remaining-space"></span>
    <div class="link-container">
        <a routerLink="/landing" class="landing-link">Search</a>
        <a routerLink="/create" class="create-link">Create a new travel ad</a>
        <a routerLink="/aboutus" class="aboutus-link">About Us</a>
        <a routerLink="/profile" class="profile-link">My Profile</a>
    </div>
</mat-toolbar>
